@model Tenancy.Models.Lessor

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Lessor</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Surname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Surname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SecondName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SecondName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FileNameOwner)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FileNameOwner)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FIleData)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FIleData)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Lessor_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
