@model IEnumerable<Tenancy.Models.Premises>
@{
    ViewBag.Title = "AvialablePremises";
}

<h2>Свободные помещения</h2>
@if (Model == null)
{
    <p>
        Здесь пока еще нет помещений!
    </p>
}
else
{
    if (Tenancy.Controllers.LesseesController.FailureDates != null)
    {
        <div style="color:red;">@Tenancy.Controllers.LesseesController.FailureDates</div>
        <br>
    }
    <table class="table">
        <tr>
            <th>
                @Html.DisplayName("Площадь")
            </th>
            <th>
                @Html.DisplayName("Подсобное помещение")
            </th>
            <th>
                @Html.DisplayName("Окна (количество)")
            </th>
            <th>
                @Html.DisplayName("Электроснабжение")
            </th>
            <th>
                @Html.DisplayName("Водоснабжение")
            </th>
            <th>
                @Html.DisplayName("Наличие кондиционера")
            </th>
            <th>
                @Html.DisplayName("Особенности")
            </th>
            <th>
                @Html.DisplayName("Стоимость/мес")
            </th>
            <th>
                @Html.DisplayName("Статус помещения")
            </th>
            <th>
                @Html.DisplayName("Тип помещения")
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.Square)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UtilityRoom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Windows)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Electricity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.WaterSupply)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Conditioner)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Details)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CostPerSM)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ApplicationStatus)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>


                <td>
                    @Html.ActionLink("Отправить заявку", "BookPremise", new { id = item.СommercialPremises_Code })                </td>
            </tr>
        }

    </table>
}

