@model Tenancy.Models.Register
@{
    ViewBag.Title = "Вход";
}
<h2>Авторизация</h2>

<div>
    @using (Html.BeginForm("Login", "Registers"))
    {
        <div style="color:red;">@Html.ValidationSummary()</div>
        <div class="row">
            <!--Show details are saved successfully message-->
            <div class="col-lg-12">@ViewBag.Message</div>
        </div><br />

        <div class="row">
            <div class="col-lg-2">@Html.Label("Логин")</div>
            <div class="col-lg-10">@Html.TextBoxFor(a => a.Login, new { @class = "form-control" })</div>
        </div><br />
        <div class="row">
            <div class="col-lg-2">@Html.Label("Пароль")</div>
            <div class="col-lg-10">@Html.TextBoxFor(a => a.Password, new { @class = "form-control", type = "Password" })</div>
        </div><br />
        <input type="submit" value="Войти" class="btn btn-primary" />
    }

</div>